########### A ############
accelerate
aiohttp
anthropic

########### B ############
bitsandbytes>=0.43.0
doc2docx
dynaconf>=3.2.4
faiss-cpu
GitPython
groq
huggingface-hub
mistralai
numpy
openai
pdfplumber>=0.10.3
protobuf
pydantic
pydantic-settings
python-docx
rank-bm25>=0.2.2
requests
safetensors
sentence-transformers>=2.2.2
sentencepiece
tiktoken
toml>=0.10.2
torch
together
tqdm
transformers
ujson
