########### A ############
accelerate
aiohttp
anthropic

########### B ############
bitsandbytes>=0.43.0
beautifulsoup4>=4.8.2
brotli

########### D ############
doc2docx
docx==0.2.4
dynaconf>=3.2.4

########### F ############
faiss-cpu

########### G ############
GitPython
groq

########### H ############
huggingface-hub
httpx==0.27.2

########### M ############
mistralai

########### N ############
nltk==3.8.1
numpy

########### O ############
openai

########### P ############
pdfplumber>=0.10.3
protobuf
pydantic
pydantic-settings
python-docx
PyPDF2>=3.0.1

########### R ############
rank-bm25>=0.2.2
requests

########### S ############
safetensors
sentence-transformers>=2.2.2
sentencepiece

########### T ############
tiktoken
toml>=0.10.2
torch
together
tqdm
transformers

########### U ############
ujson
uvicorn==0.22.0

########### F-EXTRA ############
fake-useragent==1.2.0
